<div class="card" style="padding:15px; max-width:300px; margin-top:1em;">
  <h3 class="text-uppercase"><%= supervisor.name %></h3>
  <p class="text-secondary"><%= supervisor.email %></p>
  <p class="text-secondary"><%= supervisor.cellphone %></p>
  <%= link_to "Ver mas", supervisor%>
</div>
