.card{:style => "padding:15px; max-width:300px; margin-top:1em;"}
  %h3.text-uppercase= supervisor.name
  %p.text-secondary= supervisor.email
  %p.text-secondary= supervisor.cellphone
  = link_to "Ver mas", supervisor
